@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #8728C7;
}

#header { 
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 135px;
    background: #ffffff;
}

#header-line {
    background-color: #623D7A;    
    position: absolute;
    width: 100%;
    height: 0px;
    top: 135px;

    border: 2px solid #623D7A;  
}

.links-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.links {
    color: #AB32FA;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 0px 0px 1.5px rgba(90, 90, 90, 0.842);
    font-family: 'Architects Daughter', cursive;
}

#main-firstbg {
    display: flex;
    justify-items: center;
    align-content: center;
    margin: 30vh;
}

#content-1 {
    background-color: rgba(255, 255, 255, 0.904);
    width: 50vw;
    height: auto;
    margin: auto;
    
    border: 0px solid white;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    box-shadow: 5px 5px 5px rgb(48, 18, 51)
}

h2 {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

p {
    text-align: justify;   
    font-family: Arial, Helvetica, sans-serif;
}

